/.vs
/.vscode
/build
/dist
/GUI
/log
/rfCKR.pyproj
/rfCKR.sln
/rfCKR.spec
/rfCKR_MainUI.spec
/setup.py
/temp.txt
/参考代码
upx.exe
src/__pycache__/iniHandle.cpython-311.pyc
src/__pycache__/TestLoopMain.cpython-311.pyc
